<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if request.user.is_authenticated %}
    <p>{{ user.username }}님 안녕하세요!</p>
    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="LOGOUT">
    </form>
  {% else %}
    <a href="{% url "accounts:login" %}">LOGIN</a>
    <a href="{% url "accounts:signup" %}">SIGNUP</a>
  {% endif %}

  <h1>책 상세 정보</h1>
  <br><br>
  
  <p>
    등록번호 : {{ book.pk }}
    <br><br>    
    제목 : {{ book.title }}
    <br><br>
    설명 : {{ book.description }}
    <br><br>
  </p>
  <br>
  <hr>
  <a href="{% url 'libraries:index' %}">[전체 목록 보기]</a>
</body>
</html>
